<!DOCTYPE html>
<html>

<head>
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <!-- Leaflet context menu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.js"></script>
    <!-- Date widget -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<style>
    body {
        padding: 0;
        margin: 0;
    }
    
    html,
    body,
    #mapid {
        height: 100%;
        width: 100%;
    }
    /* Hide the Popup form */
    
    .form-popup {
        display: none;
        position: absolute;
        left: 45%;
        top: 5%;
        transform: translate(-45%, 5%);
        border: 2px solid #666;
        z-index: 2000;
    }
    /* Styles for the form container */
    
    .form-container {
        max-width: 300px;
        padding: 20px;
        background-color: #fff;
    }
</style>

<body style="padding:0; margin:0; background-color: brown;">

    <!-- Create and display map -->
    <div id="mapid">
        <!-- Create hidden popup form -->
        <div class="form-popup" id="popupForm">
            <form name="IncidentReport" action="{{ url_for('home') }}" method="post" class="form-container">
                <h2 id="popup-title" style="font-size: 12pt;"></h2>

                <select id="type" name="type" required>
                    <option value="" disabled selected>Crime Type</option>
                    <option value="Theft From Vehicle">Theft From Vehicle</option>
                    <option value="Theft of Vehicle">Theft of Vehicle</option>
                    <option value="Break & Enter - Commercial">Break & Enter - Commercial</option>
                    <option value="Assault (Non-domestic)">Assault (Non-domestic)</option>
                    <option value="Break & Enter - Dwelling">Break & Enter - Dwelling</option>
                    <option value="Violence Other (Non-domestic)">Violence Other (Non-domestic)</option>
                    <option value="Break & Enter - Other Premises">Break & Enter - Other Premises</option>
                    <option value="Street Robbery">Street Robbery</option>
                    <option value="Commercial Robbery">Commercial Robbery</option>
                    <option value="Other">Other</option>
                </select><br><br>
                <label for="popup-date">Incident Date</label>
                <input type="text" name="popup-date" value="" required/><br><br>
                <textarea name="comment" rows="10" cols="40" placeholder="Comment (optional)"></textarea>
                <button type="submit" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>

    </div>

    <script>
        // map centered on calgary
        var mymap = L.map('mapid', {
            contextmenu: true,
            contextmenuWidth: 140,
            contextmenuItems: [{
                text: 'Show coordinates',
                callback: showCoordinates
            }, {
                text: 'Center map here',
                callback: centerMap
            }, {
                text: 'Report incident here',
                callback: ReportInc
            }, '-', {
                text: 'Zoom in',
                icon: 'https://img.icons8.com/metro/26/000000/zoom-in.png',
                callback: zoomIn
            }, {
                text: 'Zoom out',
                icon: 'https://img.icons8.com/metro/26/000000/zoom-out.png',
                callback: zoomOut
            }]
        }).setView([51.0447, -114.0719], 10);

        // context menu items
        function showCoordinates(e) {
            var msg = ''.concat(e.latlng.lat, ', ', e.latlng.lng);
            alert(msg);
        }

        function centerMap(e) {
            mymap.panTo(e.latlng);
        }

        function zoomIn(e) {
            mymap.zoomIn();
        }

        function zoomOut(e) {
            mymap.zoomOut();
        }

        function ReportInc(e) {
            console.log(e.latlng.lat)
            document.getElementById("popupForm").style.display = "block";
            document.getElementById("popup-title").innerHTML = ''.concat('Report incident @ ', Math.round(e.latlng.lat * 10000) / 10000, ', ', Math.round(e.latlng.lng * 10000) / 10000);

        }

        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }

        // Date picker
        $(function() {
            $('input[name="popup-date"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD'));
            });
        });


        // street layer (default)
        var street = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/ ">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/ ">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/ ">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg'
        }).addTo(mymap);
        // satellite layer
        var sat = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/ ">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/ ">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/ ">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/satellite-v9',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGZndzAwZXVtM21teThqZjhsdzBiIn0.MwhI6rhhXpMJ0LkjhXDUHg'
        });
        //Basic traffic incident layer
        var traffic = L.tileLayer('https://api.mapbox.com/styles/v1/{username}/{styleID}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            username: 'wynandtredoux',
            styleID: 'ck7makkyj0k8f1jm2ciezqii2',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGU5bmwwMWQxM2dwMTdveXF2cTQ2In0.KWTf4vgwgq60Px7gP9eaBQ'
        });

        // new street view
        var street_new = L.tileLayer('https://api.mapbox.com/styles/v1/{username}/{styleID}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            username: 'wynandtredoux',
            styleID: 'ck7p4sz2a08x51io79sstt3gt',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGU5bmwwMWQxM2dwMTdveXF2cTQ2In0.KWTf4vgwgq60Px7gP9eaBQ'
        });

        // new heatmap
        var traffic_new = L.tileLayer('https://api.mapbox.com/styles/v1/{username}/{styleID}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            username: 'wynandtredoux',
            styleID: 'ck7p50k4t06681imovjajgjpk',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1Ijoid3luYW5kdHJlZG91eCIsImEiOiJjazdjaGU5bmwwMWQxM2dwMTdveXF2cTQ2In0.KWTf4vgwgq60Px7gP9eaBQ'
        });

        var layers = {
            'Street View': street,
            'Satellite View': sat,
        };
        // display map
        L.control.layers(layers).addTo(mymap);
    </script>

    <!-- alert message from flask -->
    {% if alertmsg is defined %}
    <script>
        alert("{{ alertmsg }}");
    </script>
    {% endif %}
</body>